input {
    width: 300px;
    height: 30px;
    font-size: 16px;
}

#btn-search {
    padding: 10px 15px;
    margin: 20px;
}

#btn-search:hover {
    cursor: pointer;
}

.topnav {
    top: 0;
    margin-bottom: 20px;
    height: 100px;
    background: mediumseagreen;
}

#better-doctor-values {
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
}

.states {
    height: 30px;
    width: 60px;
    font-size: 16px;
}

.conditions {
    height: 30px;
    width: 250px;
    font-size: 16px;
}

img {
    margin: 2px;
}