input {
    width: 30%;
    height: 30px;
    font-size: 24px;
}

#btn-search {
    padding: 10px 15px;
    margin: 20px;
}

#btn-search:hover {
    cursor: pointer;
}

.topnav {
    top: 0;
    margin-bottom: 20px;
    height: 100px;
    background: mediumseagreen;
}